<main class="py-5">
    <div class="home py-3 text-center">
        <div class="container">
            <div class="col-md-9 mx-auto">
                <a class="d-block mb-4 mb-4 text-dark lh-sm text-decoration-none" href="#">Thêm mới công việc
                    dễ
                    dàng</a>
                <a class="d-block mb-4" href="#">
                    <img src="https://cdn-icons-png.flaticon.com/512/8019/8019132.png" alt="" width="200px">
                </a>
                <h1 class="w-75 mb-5 fw-semibold lh-1 mx-auto ">QUẢN LÝ CÔNG VIỆC DỄ DÀNG HƠN VỚI TASK MANAGER</h1>

                <div class="buttons">
                    <a href="/tasklist" class="btn btn-primary mx-2">Danh sách CV</a>
                    <a href="/create" class="btn btn-success mx-2">Thêm mới</a>
                </div>
            </div>
        </div>
    </div>
</main>